.bred {
    color: #444;
}

.nava {
    display: block;
    margin: 0;
    padding: 0;
}

.breadcrumb {
    margin-bottom: 5px;
}

.imb {
    padding: .30rem .75rem;
    background: linear-gradient(to bottom, #f6f3eb, #fff);
    box-shadow: 0 3px 15px -9px #654e46;
    background-color: #c6c6c6;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.imb a:hover {
    color: #19d9ff;
    text-decoration: none;
    background-color: transparent;
    outline: 5px auto;
}

.imb a:before {
    $breadcrumb-divider: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjgiPjxwYXRoIGQ9Ik0yLjUgMEwxIDEuNSAzLjUgNCAxIDYuNSAyLjUgOGw0LTQtNC00eiIgZmlsbD0iY3VycmVudENvbG9yIi8+PC9zdmc+);
    $breadcrumb-divider: quote(">");
}