    .page-title {
        text-shadow: 1px 1px 1px #e1e1e1;
        color: #654e46;
        line-height: 1.2;
        background-color: #fff;
        box-shadow: 0 3px 20px -9px #654e46;
        padding: 6px 10px;
        font-weight: normal;
        font-size: 1.6em;
        margin: 0 0 10px;
        border-top-left-radius: 10px;
    }
    
    .w-100 {
        margin-bottom: 30px;
    }
    
    .rumas {
        margin: 0;
        padding: 0;
        box-shadow: 0 0 15px -5px grey;
        background: white;
    }
    
    .marg {
        margin: 0 0 3px 0;
        text-shadow: 1px 1px 1px #e1e1e1;
        color: #654e46;
        line-height: 2;
        background-color: #fff;
        -webkit-box-shadow: 0 3px 15px -9px #654e46;
        box-shadow: 0 3px 15px -9px #654e46;
        padding: 0 10px;
        font-weight: normal;
        font-size: 1.4em;
    }
    
    .hre {
        color: red;
    }
    
    .bd-callout {
        padding: 1.25rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        border: 1px solid #eee;
        border-left-width: .25rem;
        border-radius: .25rem;
        background: #ffd6d6;
        border-left-color: red;
    }
    
    .blu {
        background: #cbeff1;
        border-left-color: #08a9f9;
    }
    
    .bg-light ul {
        padding-left: 40px;
        margin: 10px 0;
    }
    
    .content-body {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 0 15px;
        padding-bottom: 20px;
    }
    
    .thumb-img {
        max-width: 100%;
        overflow: hidden;
    }
    
    .fotopic {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        color: #654e46;
        text-decoration: none;
    }
    
    .flor {
        margin-left: auto;
    }
    
    .fotopic:hover {
        text-decoration: underline;
        color: #1eb5ea;
    }
    
    figure {
        margin: 0 0 1rem;
        overflow: hidden;
    }
    
    .comment-body {
        border-bottom: 1px solid #e2dee1;
        border-right: 1px solid #e2dee1;
        border-left: 1px solid #ebebeb;
        -webkit-box-shadow: 1px 1px 1px 0 #fff;
        box-shadow: 1px 1px 1px 0 #fff;
        margin-bottom: 10px;
        background-color: #f1eee6;
        border-top-left-radius: 4px;
    }
    
    div#comments-full {
        background-color: aliceblue;
    }
    
    .comm:hover {
        text-decoration: underline;
        color: #1eb5ea;
    }
    
    .comm {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        color: #654e46;
        text-decoration: none;
    }
    
    .price-note {
        text-align: center;
    }
    
    .topbutton {
        width: 100px;
        border: 2px solid #ccc;
        background: #f7f7f7;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 50px;
        right: 50px;
        cursor: pointer;
        color: #333;
        font-family: verdana;
        font-size: 12px;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        -khtml-border-radius: 5px;
    }
    
    .comment-author {
        background: -webkit-gradient(linear, left bottom, left top, from(#f1eee6), to(#fff));
        background: -webkit-linear-gradient(bottom, #f1eee6, #fff);
        background: -o-linear-gradient(bottom, #f1eee6, #fff);
        background: linear-gradient(to top, #f1eee6, #fff);
        padding: 10px;
        overflow: hidden;
        margin: 0 0 6px 0;
        border-top-left-radius: 4px;
        border-bottom: 1px #e2e2e2 solid;
    }
    
    .comment-text {
        text-indent: 1.5em;
        font-size: 14px;
    }
    
    .contacts__text {
        margin-bottom: 10px;
        font-size: 14px;
    }
    
    .retro {
        text-indent: 1.5em;
    }
    
    .article__title {
        margin: 0 0 15px 0;
        text-shadow: 1px 1px 1px #e1e1e1;
        color: #654e46;
        line-height: 2;
        background-color: #fff;
        -webkit-box-shadow: 0 3px 15px -7px #654e46;
        box-shadow: 0 3px 15px -7px #654e46;
        padding: 0 10px;
        font-weight: normal;
        font-size: 1.6em;
    }
    
    .price-section__title {
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        background: #fff;
    }
    
    .commentlist {
        margin-top: 0;
        margin-bottom: 1rem;
    }
    
    .qwerry {
        color: #79625a;
        font-size: 14px;
    }
    
    .table-bordered>tbody>tr>td,
    .table-bordered>tbody>tr>th,
    .table-bordered>tfoot>tr>td,
    .table-bordered>tfoot>tr>th,
    .table-bordered>thead>tr>td,
    .table-bordered>thead>tr>th {
        border: 1px solid #ddd;
    }
    
    .table>tbody>tr>td,
    .table>tbody>tr>th,
    .table>tfoot>tr>td,
    .table>tfoot>tr>th,
    .table>thead>tr>td,
    .table>thead>tr>th {
        padding: 8px;
        line-height: 1.42857143;
        border-top: 1px solid #ddd;
    }
    
    .table-bordered {
        border: 1px solid #ddd;
    }
    
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    
    #content {
        -webkit-box-shadow: 0 -3px 15px -7px #79625a;
        box-shadow: 0 -3px 15px -7px #79625a;
        padding-right: 0;
        padding-left: 0;
    }
    
    .category__description {
        padding: 0 20px;
    }
    
    .res:hover {
        color: #19d9ff;
        text-decoration: none;
        background-color: transparent;
    }
    
    .res {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        color: #654e46;
        text-decoration: none;
    }
    
    .resa {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        text-decoration: none;
    }
    
    .resa:hover {
        color: #19d9ff;
        text-decoration: none;
        background-color: transparent;
    }
    
    .contacts {
        margin-bottom: 35px
    }
    
    .ytr {
        font-weight: 600;
    }
    
    .contacts__email {
        margin-top: 10px;
    }
    
    @media screen and (min-width: 768px) {
        .category__thumb {
            float: left;
            margin: 0 10px 10px 0;
            width: 320px;
        }
    }