<div class="comment">
    <div class="comment-author vcard">
        <a class="comm" href="#comment-20">1 января 2018, 03:00</a> - <span class="fn">Ник:</span>
    </div>
    <p class="comment-text">Пришлось срочно менять всю электропроводку в старой панельной 3х комнатной квартире.<br> Заодно решили установить розетки на новые места и увеличить их количество.<br> Ребята приехали оценили масштаб трагедии и уже на следующий день прислали смету.<br>        Все работы были закончены за 3 дня, несмотря на то что дело осложнялось наличием мебели(квартира жилая)<br> Всё сделано аккуратно, ребята очень вежливые, весёлые и не матерятся :)<br> Я очень доволен и категорически их рекомендую.<br> Дядя Серёжа,
        дядя Саша, СПАСИБО ВАМ ОГРОМНОЕ за Новый Год с новой электрикой!!!</p>
</div>