<nav class="top-navigation" itemscope="" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
    <ul class="navigation-menu">
        <li class="navigation-menu__item" itemprop="name" role="presentation"><a href="index.html" class="navigation-menu__link" itemprop="url">Услуги электрика</a></li>
        <li class="navigation-menu__item" itemprop="name" role="presentation"><a href="price.html" class="navigation-menu__link" itemprop="url">Цены</a></li>
        <li class="navigation-menu__item" itemprop="name" role="presentation"><a href="photos.html" class="navigation-menu__link" itemprop="url">Фото работ</a></li>
        <li class="navigation-menu__item" itemprop="name" role="presentation"><a href="reviews.html" class="navigation-menu__link" itemprop="url">Отзывы</a></li>
        <li class="navigation-menu__item" itemprop="name" role="presentation"><a href="contacts.html" class="navigation-menu__link" itemprop="url">Контакты</a></li>
    </ul>
</nav>