.rsb-title {
    font-size: 1.6em;
    line-height: 1.7;
    font-weight: bold;
    border-bottom: 1px solid #e2dee1;
    -webkit-box-shadow: 0 1px 0 0 #fff;
    box-shadow: 0 1px 0 0 #fff;
    border-bottom-right-radius: 10px;
}

.sidebar-category__item {
    display: block;
    margin-bottom: .5em;
    color: #79625a;
}

.retyu {
    color: #08a9f9;
}

.retyg {
    background: white;
    max-width: 100%;
    background-size: cover;
    flex: 0 0 33%;
    flex-direction: column;
}

.sidebar-category__thumb {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
}

.sidebar-category__title {
    font-size: 1.1rem;
    font-weight: 700;
    margin: 0;
}

.sidebar-category__item:hover {
    color: #19d9ff;
    background-color: transparent;
}

@media screen and (min-width: 575px) {
    .retyg {
        margin-left: 5px;
    }
}