.comment {
    border-bottom: 1px solid #e2dee1;
    border-right: 1px solid #e2dee1;
    border-left: 1px solid #ebebeb;
    -webkit-box-shadow: 1px 1px 1px 0 #fff;
    box-shadow: 1px 1px 1px 0 #fff;
    margin-bottom: 10px;
    background-color: #f1eee6;
    border-top-left-radius: 4px;
}

.comment-author {
    background: -webkit-gradient(linear, left bottom, left top, from(#f1eee6), to(#fff));
    background: -webkit-linear-gradient(bottom, #f1eee6, #fff);
    background: -o-linear-gradient(bottom, #f1eee6, #fff);
    background: linear-gradient(to top, #f1eee6, #fff);
    padding: 10px;
    overflow: hidden;
    margin: 0 0 6px 0;
    border-top-left-radius: 4px;
    border-bottom: 1px #e2e2e2 solid;
}

.comment-text {
    margin-left: 10px;
}

.comm {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    color: #654e46;
    text-decoration: none;
}

.respond {
    margin: 20px;
}

.reply-title {
    font-size: 20px;
}